{% extends 'base.html.twig' %}

{% block title %}Consomme index{% endblock %}

{% block body %}
    <h1>Consomme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Projet</th>
                <th>Tache</th>
                <th>Date</th>
                <th>Heures</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consomme in consommes %}
            <tr>
                <td>{{ consomme.id }}</td>
                <td>{{ consomme.client }}</td>
                <td>{{ consomme.projet }}</td>
                <td>{{ consomme.tache }}</td>
                <td>{{ consomme.date ? consomme.date|date('Y-m-d') : '' }}</td>
                <td>{{ consomme.heures }}</td>
                <td>{{ consomme.description }}</td>
                <td>
                    <a href="{{ path('consomme_show', {'id': consomme.id}) }}">show</a>
                    <a href="{{ path('consomme_edit', {'id': consomme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consomme_new') }}">Create new</a>
{% endblock %}
