{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

    <div class="row">

        <h2 class="title-1 m-b-25">Liste de salariés</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Matricule</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.matricule }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>congé</td>

                <td>
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">Afficher</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="43">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}
