{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>

            <tr>
                <th>Matricule</th>
                <td>{{ utilisateur.matricule }}</td>
            </tr>
            <tr>
                <th>lieu de carte cin</th>
                <td>{{ utilisateur.civilite }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Situation familiale</th>
                <td>{{ utilisateur.situationFamiliale }}</td>
            </tr>
            <tr>
                <th>Université</th>
                <td>{{ utilisateur.universite }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ utilisateur.diplome }}</td>
            </tr>
            <tr>
                <th>Specialité</th>
                <td>{{ utilisateur.specialite }}</td>
            </tr>
            <tr>
                <th>Année obtination</th>
                <td>{{ utilisateur.anneeObtination }}</td>
            </tr>
            <tr>
                <th>Langage</th>
                <td>{{ utilisateur.langage }}</td>
            </tr>
            <tr>
                <th>Date naissance</th>
                <td>{{ utilisateur.dateNaiss ? utilisateur.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ utilisateur.cin }}</td>
            </tr>
            <tr>
                <th>Date cin</th>
                <td>{{ utilisateur.dateCin ? utilisateur.dateCin|date('Y-m-d') : '' }}</td>
            </tr>

            <tr>
                <th>Num cnss</th>
                <td>{{ utilisateur.numCnss }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ utilisateur.codePostal }}</td>
            </tr>
            <tr>
                <th>Tel1</th>
                <td>{{ utilisateur.tel1 }}</td>
            </tr>
            <tr>
                <th>Tel2</th>
                <td>{{ utilisateur.tel2 }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ utilisateur.rib }}</td>
            </tr>
            <tr>
                <th>Mail pro</th>
                <td>{{ utilisateur.mailPro }}</td>
            </tr>
            <tr>
                <th>Nom1 en cas d' urgence</th>
                <td>{{ utilisateur.nom1Urgence }}</td>
            </tr>
            <tr>
                <th>Prenom1 en cas d'urgence</th>
                <td>{{ utilisateur.prenom1Urgence }}</td>
            </tr>
            <tr>
                <th>Lien1</th>
                <td>{{ utilisateur.lien1 }}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ utilisateur.lieu }}</td>
            </tr>
            <tr>
                <th>Telephone1</th>
                <td>{{ utilisateur.telephone1 }}</td>
            </tr>
            <tr>
                <th>Nom2 en cas d'urgence</th>
                <td>{{ utilisateur.nom2Urgence }}</td>
            </tr>
            <tr>
                <th>Prenom2 en cas d'urgence</th>
                <td>{{ utilisateur.prenom2Urgence }}</td>
            </tr>
            <tr>
                <th>Lien2</th>
                <td>{{ utilisateur.lien2 }}</td>
            </tr>
            <tr>
                <th>Telephone2</th>
                <td>{{ utilisateur.telephone2 }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ utilisateur.dateDeb ? utilisateur.dateDeb|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ utilisateur.dateFin ? utilisateur.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Periode d'essai</th>
                <td>{{ utilisateur.periodeEssai ? utilisateur.periodeEssai|date('Y-m-d') : '' }}</td>
            </tr>


            <tr>
                <th>Date d'embauche</th>
                <td>{{ utilisateur.dateEmbauche ? utilisateur.dateEmbauche|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date départ</th>
                <td>{{ utilisateur.dateDepart ? utilisateur.dateDepart|date('Y-m-d') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">retourne en  liste</a>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
